@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);

h1, h2, h3 {
  font-family: Bitter, serif;
}
h1 {
  color: #333;
  font-size: 190%;
}
h2 {
  color: #707070;
}
ul {
  list-style: none;
  margin-left: -1.1em;
}
li {
  margin-bottom: 10px;
  position: relative;
  &:before {
    position: absolute;
    left: -20px;
  }
}
*, *:after, *:before {
  @include box-sizing(border-box);
}
body {
  background: $body;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.page {
  position: relative;
  background: white;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto 50px;
  box-shadow:
    0 0 3px rgba(0, 0, 0, 0.2),
    inset 0 0 10px rgba(0, 0, 0, 0.1);

header {
  position: relative;
  background: $level3;
  width: 100%;
  overflow: hidden;
  text-shadow: 1px 2px 3px darken(#517EA8, 20%);
}
  h1 {
    position: relative;
    font-family: 'Bitter', serif;
    font-size: 250%;
    background: $level1;
    color: white;
    margin: 0;
    height: $header-height;
    padding-top: 15px;
    padding-left: $pad + 5px;
    padding-right: $pad;
    float: left;
    z-index: 2;

    @include breakpoint(header-2rows) {
      width: 100%;
      padding-right: 5px;
    }
    @include breakpoint(header-3rows) {
      span {
        display: none;
      }
    }
    &:after {
      @include arrow($level1);
    }
  }
  div {
    position: relative;
    color: white;
    float: left;
    padding-top: 24px;
    padding-left: $pad * 2;
    padding-right: $pad * 1.6;
    height: $header-height;
    @include breakpoint(header-2rows) {
      width: 50%;
    }
    @include breakpoint(header-3rows) {
      width: 100%;
      padding-left: $pad;
    }
    &:first-of-type {
      background: $level2;
      z-index: 1;
      &:after {
        @include arrow($level2);
      }
      @include breakpoint(header-2rows) {
        padding-left: $pad;
      }
    }
  }
.info {
  @extend .clearfix;
  width: 100%;
}
section {
  float: left;
  width: 70%;
  padding: 0 $pad;
  article {
    margin-bottom: $pad;
  }
  h2 {
    font-size: 100%;
    text-transform: uppercase;
    margin-bottom: 0;
    span {
      text-transform: none;
    }
  }
  p {
    line-height: 1.5;
  }
  .etudes p {
    margin-top: 3px;
  }
  @include breakpoint(thin) {
    width: 100%;
  }
}
.experience .block {
  margin-bottom: 30px;
}

aside {
  float: right;
  background: whitesmoke;
  border-left: 1px solid #ccc;
  width: 30%;
  padding-left: $pad;
  padding-right: $pad;
}
  article {
    margin-bottom: 50px;
  }
  h1 {
    font-size: 150%;
    margin-top: 29px;
  }
  @include breakpoint(thin) {
    width: 100%;
    border-left: none;
    border-top: 1px solid #ccc;
  }
}
